*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: ﻿Lato-Bold;
    src: url("./assets/fonts/Lato-Bold.ttf");
}
@font-face {
    font-family: ﻿Lato-Black;
    src: url("./assets/fonts/Lato-Black.ttf");
}
@font-face {
    font-family: ﻿Lato-Light;
    src: url("./assets/fonts/Lato-Light.ttf");
}
@font-face {
    font-family: ﻿Lato-Regular;
    src: url("./assets/fonts/Lato-Regular.ttf");
}
body{
    width: 1020px;
    margin-left : auto;
    margin-right : auto;
}
.header{
    background-color: #2d303a;
    border-bottom: 6px solid #323746;
}
.header__logo{
    padding: 25px 0 27px 40px;
    display: inline-block;
}
.header__logo-text,
.header__logo-star{
    font-family: ﻿Lato-Bold, AdobeInvisFont, ﻿MyriadPro-Regular;
    font-size: 25px;
    color: #ffffff;
    display: inline;
    text-decoration: none;
    letter-spacing: -0.13px;
    text-align: justify;
}
.header__logo-star{
    color: #f06c64;
}
.header__nav{
    float: right;
    padding: 38px 40px 0 0;
}
.header__nav-list{
    text-decoration: none;
    display: inline;
}
.header__nav-link{
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 12px;
    font-family: ﻿Lato-Bold, AdobeInvisFont, ﻿MyriadPro-Regular;
    padding-left: 6px;
    letter-spacing: normal;
}
.header__nav-list:after{
    content: '·';
    padding-left: 10px;
    color: #404455;
    font-family: ﻿Lato-Bold, AdobeInvisFont, ﻿MyriadPro-Regular;
    font-size: 12pt;
}
.header__nav-list:last-child:after{
    display: none;
}
.header__nav-list.active{
    color: #f06c64;
    cursor: default;
}
.header__nav-link:not(.active):hover{
    cursor: pointer;
    color: #f06c64;
}


.slider__wrapper {
    background: #f06c64;
    border-bottom: 6px solid #ea676b;
    overflow: hidden;
    position: relative;
    width: 940px;
    height: 594px;
    padding: 0 40px;

}


.slide{
    position: absolute;
    width: 883px;

    background-color: #f06c64;
    transition: all 1s ease-in 0.1s;
    /*display: none;*/
    /*display: inline-block;*/
    float: right;
}

.arrows{
    display: inline;
    width: 940px;
}
.slide__blue{
    position: absolute;
    width: 908px;
    height: 600px;
    background-color: #648BF0;
    transition: all 1s ease-in 0.1s;

    display: inline-block;
    float: right;
    margin-left: 17px;
}
.iphone-horizontal-blue{
    position: absolute;
    background: url("assets/vertical.png");
    box-shadow:
            25px 25px 0 #5677CD,
            20px 20px 0 #5677CD,
            15px 15px 0 #5677CD,
            10px 10px 0 #5677CD;
    border-radius: 25px;
    width: 215px;
    height: 458px;
    left: 383px;
    top: 43px;
    display: inline;


}
.iphone-vertical {
    position: absolute;
    background: url("assets/vertical.png");
    top: 53px;
    left: 72px;
    width: 215px;
    height: 458px;
    box-shadow:
            25px 25px 0 #ce5d56,
            20px 20px 0 #ce5d56,
            15px 15px 0 #ce5d56,
            10px 10px 0 #ce5d56;
    border-radius: 25px;
    display: inline;
}

.iphone-horizontal {
    position: absolute;
    background: url("assets/horizontal.png");
    top: 174px;
    left: 385px;
    width: 458px;
    height: 215px;
    box-shadow:
            25px 25px 0 #ce5d56,
            20px 20px 0 #ce5d56,
            15px 15px 0 #ce5d56,
            10px 10px 0 #ce5d56;
    border-radius: 25px;
    display: inline;
}

.arrow-left {
    position: absolute;

    left: 2px;
    width: 16px;
    height: 27px;
    transition: 0.6s ease;
    cursor: pointer;
    display: inline;
    float: left;
    padding-right: 54px;
    padding-left: 40px;
    padding-top: 281px;
}



.arrow-right {
    position: absolute;
    transition: 0.6s ease;
    right: 0;
    width: 16px;
    height: 27px;

    cursor: pointer;
    display: inline;
    float: right;
    padding-left: 80px;
    padding-right: 40px;
    padding-top: 281px;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 0.5s;
    animation-name: fade;
    animation-duration: 0.5s;
}

@-webkit-keyframes fade {
  from {opacity: 0}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: 0}
  to {opacity: 1}
}
.main{
    background-color: #f2f2f2;
}
.main__head{
    font-family: ﻿Lato-Black, ﻿AdobeInvisFont, ﻿MyriadPro-Regular;
    font-size: 30px;
    color: #666d89;
    text-align: justify;
    padding: 60px 0 17px 41px;

}
.main__head-text{
    font-family: ﻿Lato-Light, ﻿AdobeInvisFont, ﻿MyriadPro-Regular;
    font-size: 18px;
    color: #878da9;
    text-align: justify;
    padding: 0 41px 46px 41px;
    line-height: 30px;
    letter-spacing: -0.25px;
}
.main__services{
    padding: 0 41px;
    margin-bottom: 28px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}

.main__services-design,
.main__services-layout,
.main__services-support,
.main__services-star,
.main__services-ideas,
.main__services-answer{
    display: flex;
    align-items: flex-start;
    width: 299px;
    padding-bottom: 34px;
}
.main__services-design-head,
.main__services-layout-head,
.main__services-support-head,
.main__services-star-head,
.main__services-ideas-head,
.main__services-answer-head{
    margin-bottom: 12px;
    margin-left: 18px;
    font-family: ﻿Lato-Black, ﻿AdobeInvisFont, ﻿MyriadPro-Regular;
    font-size: 18px;
    color: rgba(102, 109, 137, 255);
    text-align: justify;
    line-height: 16px;
    font-weight: 900;
    letter-spacing: -0.12px;
}
.main__services-design_text,
.main__services-layout_text,
.main__services-support_text,
.main__services-star_text,
.main__services-ideas_text,
.main__services-answer_text{
    margin-left: 19px;
    text-align: justify;
    font-family: ﻿Lato-Regular, ﻿AdobeInvisFont, ﻿MyriadPro-Regular;
    font-size: 12px;
    line-height: 21px;
    color: rgba(118, 126, 158, 255);
    font-weight: 400;
    word-wrap: break-word;
    letter-spacing: -0.1px;
}
.main__underline{
    height:6px;
    background-color: #ffffff;
}

.section{
    background-color: #2d303a;
    padding: 60px 41px 50px 41px;
    border-bottom: 6px solid #323746;
}
.section__head{
    font-family: ﻿Lato-Black, ﻿AdobeInvisFont, ﻿MyriadPro-Regular;
    font-size: 30px;
    color: #666d89;
    text-align: justify;
    padding-bottom: 22px;
}
.section__text{
    font-family: ﻿Lato-Light, ﻿AdobeInvisFont, ﻿MyriadPro-Regular;
    font-size: 18px;
    color: rgba(118, 126, 158, 255);
    text-align: justify;
    padding-bottom: 16px;
    letter-spacing: -0.23px;
    font-weight: 400;
}
ul{
    padding-bottom: 20px;
}
.section__nav-list{
    text-decoration: none;
    display: inline;
    padding-right: 5px;
}
.section__nav-link{
    text-decoration: none;
    text-transform: capitalize;
    color: #666d89;
    font-size: 12px;
    font-family: ﻿Lato-Bold, AdobeInvisFont, ﻿MyriadPro-Regular;
    border: 1px solid #666d89;
    border-radius: 5px;
    padding: 3px 6px;
    line-height: 20px;

}
.section__nav-link:hover{
    color: #dedede;
    border-color: #dedede;
}
.portfolio{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}
.portfolio__img-link{
    text-decoration: none;
}
.portfolio__img-img{
    padding-bottom: 15px;
}
.portfolio__img-link:nth-child(n+13){
    display: none;
}
.section__about{
    background-color: #f2f2f2;
    border-bottom: 6px solid #ffffff;
}
.section__wrapper{
    padding: 60px 40px 42px 40px;
}
.section__about-head{
    font-family: ﻿Lato-Black, ﻿AdobeInvisFont, ﻿MyriadPro-Regular;
    font-size: 30px;
    color: #666d89;
    text-align: justify;
    padding-bottom: 18px;
}
.section__about-text{
    font-family: ﻿Lato-Light, ﻿AdobeInvisFont, ﻿MyriadPro-Regular;
    font-size: 18px;
    color: #666699;
    text-align: justify;
    padding-bottom: 44px;
    line-height: 30px;
    font-weight: 300;
    letter-spacing: -0.22px;
}
.section__wrapper-we{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.section__wrapper-we1,
.section__wrapper-we2,
.section__wrapper-we3{
    width: 300px;
}
.section__wrapper-adam-head,
.section__wrapper-desmond-head,
.section__wrapper-scolara-head{
    font-family: ﻿Lato-Black, ﻿AdobeInvisFont, ﻿MyriadPro-Regular;
    font-size: 18px;
    color: rgba(102, 109, 137, 255);
    text-align: justify;
    padding-top: 10px;
}
.section__wrapper-scorala-text,
.section__wrapper-adam-text,
.section__services-design_text{
    font-family: ﻿Lato-Regular, ﻿AdobeInvisFont, ﻿MyriadPro-Regular;
    font-size: 12px;
    color: rgba(118, 126, 158, 255);
    text-align: justify;
    padding-top: 10px;
    line-height: 20px;
    letter-spacing: -0.144px;
}
.section__wrapper-social-list{
    text-decoration: none;
    display: inline;
    padding-right: 2px;
}
.section__wrapper-social-link{
    text-decoration: none;
}
.section__wrapper-social{
    padding-top: 23px;
}

.quote{
    background-color: #f06c64;
    padding: 60px 40px 18px 40px;
    border-bottom: 6px solid #ea676b;
}
.quote__head{
    font-family: ﻿Lato-Black, ﻿AdobeInvisFont, ﻿MyriadPro-Regular;
    font-size: 30px;
    color: #f0d8d9;
    text-align: justify;
    padding-bottom: 17px;
    letter-spacing: -0.02px;
    font-weight: 900;
}
.quote__text{
    font-family: ﻿Lato-Light, ﻿AdobeInvisFont, ﻿MyriadPro-Regular;
    font-size: 18px;
    color: #f0d8d9;
    text-align: justify;
    padding-bottom: 43px;
    letter-spacing: -0.19px;
    font-weight: 300;
    line-height: 30px;
}
.quote__form-wrap{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
form{
    width: 619px;
}
input[type=text],
input[type=email]{
    width: 602px;
    padding: 10px 0 10px 14px;
    margin-bottom: 16px;
    background-color: #d6564f;
    border: 1px solid #d6564f;
    border-radius: 5px;
}
textarea {
    width: 602px;
    height: 181px;
    padding: 10px 0 10px 14px;
    border: 1px solid #d6564f;
    border-radius: 5px;
    background-color: #d6564f;
    resize: none;
    margin-bottom: 10px;
}
.form__field::placeholder {
    font-family: ﻿Lato-Regular, ﻿AdobeInvisFont, ﻿MyriadPro-Regular;
    font-size: 12px;
    color: rgba(244, 140, 143, 255);
    text-align: justify;
}
.form__button{
    border: 1px solid #d6564f;
    border-radius: 5px;
    padding: 10px 14px;
    background-color: #d6564f;
    font-family: ﻿Lato-Regular, ﻿AdobeInvisFont, ﻿MyriadPro-Regular;
    font-size: 12px;
    color: rgba(244, 140, 143, 255);
    float: right;
}
.contact{
    width: 303px;
    margin: -3px;
}
.contact__head{
    font-family: ﻿Lato-Black, ﻿AdobeInvisFont, ﻿MyriadPro-Regular;
    font-size: 18px;
    color:#f0d8d9;
    text-align: justify;
    text-transform: capitalize;
    padding-bottom: 8px;
}
.contact__text{
    font-family: ﻿Lato-Regular, ﻿AdobeInvisFont, ﻿MyriadPro-Regular;
    font-size: 12px;
    color: rgba(240, 216, 217, 255);
    text-align: justify;
    padding-bottom: 22px;
    line-height: 22px;
    letter-spacing: -0.12px;
}
.contact__location-link,
.contact__phone-link,
.contact__email-link{
    text-decoration: none;
    font-family: ﻿Lato-Regular, ﻿AdobeInvisFont, ﻿MyriadPro-Regular;
    font-size: 12px;
    color: rgba(240, 216, 217, 255);
    text-align: justify;
    padding-left: 8px;
    cursor: pointer;
}
.contact__phone,
.contact__location{
    padding-bottom: 3px;
}
.contact__location-link{
    padding-left: 12px;
}
.footer{
    background-color: #2d303a;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
}
.footer__copyright{
    font-family: ﻿Lato-Regular, ﻿AdobeInvisFont, ﻿MyriadPro-Regular;
    font-size: 12px;
    color: #666699;
    padding-top: 10px;
}
.footer__icons-facebook,
.footer__icons-google,
.footer__icons-linkedin,
.footer__icons-twitter{
    text-decoration: none;
    padding-left: 1px;
}